[submodule "src/darknet_ros"]
	path = src/darknet_ros
	url = git@github.com:wecacuee/darknet_ros.git
    branch = wecacuee-yolov4
[submodule "src/starmap_ros_msgs"]
	path = src/starmap_ros_msgs
	url = git@github.com:wecacuee/starmap_ros_msgs.git
    branch = master
[submodule "src/sort_ros"]
	path = src/sort_ros
	url = git@github.com:moshanATucsd/sort_ros.git
    branch = master
[submodule "src/open_OrcVIO_cpp"]
	path = src/open_OrcVIO_cpp
	url = git@github.com:moshanATucsd/open_OrcVIO_cpp.git
    branch = master
